# phitar records
bak_*
*_baker.bat

# phitar aux and result files
docs/figs/
docs/notes/
docs/testbed/
docs/updates.txt
nrg_dist/
expt2_beam_nrg_dist.xlsx
*.mat
xs/*splines*

# MSWin link files
*.lnk
