# phitar records
bak_phitar.pl/
bak_args.phi/
phitar_baker.bat
args_baker.bat

# Updates
updates.txt

# phitar aux and result files
figs/
lines_counted/
why_had_no_neuts/
xs/goto_xs_dir.bat
xs/*splines*
phitar_lcounter.bat

# MSWin link files
*.lnk

# POD-related
phitar_usage.bat
phitar.html
pod2htmd.tmp
phitar_pod2html.bat
